<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 1rem;">
        <p style="font-weight: bold; font-size: 2rem">Insira as notas do aluno para calcular sua media</p>
        <div>
            <label for="nota1">Nota 1</label>
            <input name="nota1" id="nota1" />
        </div>
        <div>
            <label for="nota2">Nota 2</label>
            <input name="nota2" id="nota2" />
        </div>
        <button type="submit">Enviar Notas</button>
    </form>
    {% if situacao %}
        <div style="display: flex; justify-content: center; align-items: center; margin: 16px 0; flex-direction: column;">
            <div>Nota 1: {{nota1}}</div>
            <div>Nota 2:{{nota2}}</div>
            <div>Media:{{media}}</div>
            <div>Situacao: {{situacao}}</div>
        </div>
    {% endif %}
</body>
</html>